.header{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.urls {
    display: flex;
    gap: 20px;
}

.urls a {
    text-decoration: none;
    color: brown;
    transition: color 0.5s ease;
    font-size: larger;
}
.urls a:hover{
    color: red;
}
a{
    color: #ffe8b3;
}
a:hover{
    color:#fef3dc;
}

.logo a{
    color: chocolate;
    transition: color 0.5s ease;
    text-decoration: none;
    font-size: x-large;
}
a{
    text-decoration: none;
}
.logo a:hover{
    color: #975b18;
}
.form-login, .form-register{
    border-radius: 10px;
    background-color: #975b18;
    display: flex;
    justify-content: center;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 8%;
}
.item {
    margin-top:10px;

}
.button{
    display: flex;
    justify-content: center;
    color: #d58010;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}
.error-info{
    display: flex;
    justify-content: center;
}