<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
<div class="header">
    <span class="Logo">
        <a th:href="@{/}">MindBreak</a>
    </span>

    <span class="urls">
        <a th:href="@{/login}">Sign in</a>
        <a th:href="@{/register}">Sign up</a>
        <a th:href="@{/resetPassword}">Reset password</a>
    </span>
</div>
<div class="form-login">
    <form action="/socialmedia/login" method="post">
        <input class="item" type="text" name="username" id="username" placeholder="Username" minlength="4" maxlength="32" pattern="^[a-zA-Z0-9_.-]*$" required> <br> <br>
        <input class="item" type="password" name="password" id="password" placeholder="Password" minlength="4" maxlength="32" pattern="^[a-zA-Z0-9_.-]*$" required> <br> <br>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="button">
            <input class="button" type="submit" value="Sign in">
        </div>
        <a th:href="@{/resetPassword}">Forgot password</a> <br> <br>
        <a th:href="@{/register}">Registration</a> <br> <br>
    </form>

    <div th:text="${error}"></div>

</div>
<link rel="stylesheet" th:href="@{css/styles.css}">
</body>
</html>