<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="header">
    <span class="logo">
        <a th:href="@{/}">SocialMedia</a>
    </span>
    <span class="urls">
        <a th:href="@{/news}">News</a>
        <a th:href="@{/profile}">My profile</a>
        <a th:href="@{/logout}">Logout</a>
    </span>
</div>
<script th:src="@{js/gettingNews.js}"></script>
<script th:src="@{js/gettingUsername.js}"></script>
<body>
<div>Hello, <span id="username"></span></div>
<div>Last news:</div>
<div id="newsContainer"></div>

<link rel="stylesheet" th:href="@{css/styles.css}">
</body>
</html>