<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
</head>
<script th:src="@{/js/main/gettingUsername.js}"></script>
<script th:src="@{/js/profile/gettingBirthday.js}"></script>
<script th:src="@{/js/profile/changeBirthday.js}"></script>
<body>
<div class="header">
    <span class="logo">
        <a th:href="@{/}">SocialMedia</a>
    </span>
    <span class="urls">
        <a th:href="@{/newNews}">Add news</a>
        <a th:href="@{/myProfile}">My profile</a>
        <a href="/" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>

        <!--        aren't diplayed-->
        <form id="logoutForm" th:action="@{/logout}" method="post" style="display:none;"></form>
        <!--        -->

    </span>
</div>
<div id="profile-info">
    <div>Your username: <span id="username"></span></div>
    <div>Birthday date: <span id="birthday"></span> </div>
    <input type="date" id="newBirthdayDate" min="1900-01-01" max="2020-01-01"><a class="blueUrl" onclick="changeBirthday()">Change</a> <br>
<!--    TODO changepassword page-->
    <a class="blueUrl" th:href="@{/socialmedia/changepassword}">Change password</a>
</div>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</body>
</html>