<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
</head>
<script th:src="@{/js/main/gettingUsername.js}"></script>
<script th:src="@{/js/profile/dataService.js}"></script>
<script th:src="@{/js/profile/changeBirthday.js}"></script>
<body>
<div class="header">
    <span class="logo">
        <a th:href="@{/}">SocialMedia</a>
    </span>
    <span class="urls">
        <a th:href="@{/newNews}">Add news</a>
        <a th:href="@{/myProfile}">My profile</a>
        <a href="/" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>

        <!--        aren't diplayed-->
        <form id="logoutForm" th:action="@{/logout}" method="post" style="display:none;"></form>
        <!--        -->

    </span>
</div>
<div id="profile-page" class="doCenter">
    <div class="orange-element">Your username: <br><span id="username"></span></div>
    <div class="orange-element">Your email: <br><span id="email"></span></div>
    <div class="orange-element">Birthday date: <br><span id="birthday"></span> </div>
</div>
<div class="orange-element doLeft">
    <a class="blueUrl orange-element" th:href="@{/changePassword}">Change password</a>
    <span class="orange-element" id="verifyContainer"></span>
    <div class="orange-element">Change birthday date <br> <input type="date" id="newBirthdayDate" min="1900-01-01" max="2020-01-01"><a class="blueUrl" onclick="changeBirthday()">Change</a></div>
</div>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</body>
</html>