<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
<div class="header">
    <span class="Logo">
        <a th:href="@{/}">MindBreak</a>
    </span>

    <span class="urls">
        <a th:href="@{/login}">Sign in</a>
        <a th:href="@{/register}">Sign up</a>
        <a th:href="@{/resetPassword}">Reset password</a>
    </span>
</div>
<div class="form-register">
    <form method="post" action="/register">
        <input class="item" type="text" name="username" minlength="4" maxlength="32" pattern="^[a-zA-Z0-9_.-]*$" id="userName" placeholder="Login" required> <br> <br>
        <input class="item" type="email" name="email" minlength="4" maxlength="64" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" placeholder="Email" required> <br> <br>
        <input class="item" type="password" name="password" minlength="4" maxlength="32" pattern="^[a-zA-Z0-9_.-]*$" id="password" placeholder="Password" required> <br> <br>
        <input class="item" type="password" name="confirmPassword" minlength="4" maxlength="32" pattern="^[a-zA-Z0-9_.-]*$" id="confirmPassword" placeholder="confirmPassword" required> <br> <br>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="button">
            <input class="button" type="submit" value="Register">
        </div>
        <div th:text="${info}"></div>

    </form>
</div>
<link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</body>
</html>